.project {
    display: flex;
    flex-direction: column;
    background-color:  #645E9D;
    color: #ffffff;
    padding: 10px;
}
.project img {
    width: 80%;
    margin: auto;
    border: solid #392B58 5px;
}

.project-desc, .project-stack {
    width: 70%;
    margin: auto;
}

.project a {
    color: #D3D3D3;
}

.project a:hover, .project a:visited {
    color: #392B58;
}

.project-stack h4, .project-stack p {
    text-align: center;
}

.stack-list, .repo-links {
    width: 20%;
    margin: auto;
    padding: 0px;
}


@media all and (min-width: 600px){
    .stack-list, .repo-links{
        width: 5%;
    }
}