.label, .input {
    text-align: center;
    margin: 5px;
}

.input input {
    width: 80%;
}

.input textarea {
    width: 80%;
    height: 25vh;
}

.contact-msg {
    width: 70%;
    margin: auto;
}

.submit {
    text-align: center;
}

@media all and (min-width: 600px){
    .contact-msg {
        width: 80%;
    }
}